html, body{
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: rgba(0, 0, 0, 0.07);
  display: inline-block;
}
a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none !important;
}
a:active {
    text-decoration: none;
}
.container.nav-menu {
    padding: 40px 20px 60px 20px;
    background: white;
    box-shadow: 0px 0px 104px -13px rgba(112,112,112,1);
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 40%;
    margin: 50px auto;
}
.container.nav-menu.navbar-nav {
    flex-direction: column;
    transition: opacity 1s;
    position: relative;
    margin: auto;
    align-items: center;
    width: 80%;
    list-style: none;
}
a
ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.link {
    text-align: center;
    text-decoration: none !important;
    list-style: none;
    letter-spacing: -1px;
    color: black;
    opacity: 1;
    transform: translateY(20px);
    margin: 0;
    line-height: 60px;
    font-size: 30px !important;
    border-bottom: 1px solid #eee;
}