html, body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.07);
    display: inline-block;
    margin: 0;
}
nav{
    width: 3%;
    position: fixed;
    margin: 20px;
    background: rgba(0,0,0,0);
}
a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none !important;
}
a:active {
    text-decoration: none;
}
.container.nav-menu {
    padding: 40px 20px 60px 20px;
    background: white;
    box-shadow: 0px 0px 104px -13px rgba(112,112,112,1);
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 40%;
    margin: 50px auto;
}
.container.nav-menu.navbar-nav {
    flex-direction: column;
    transition: opacity 1s;
    position: relative;
    margin: auto;
    align-items: center;
    width: 80%;
    list-style: none;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.link {
    text-align: center;
    text-decoration: none !important;
    list-style: none;
    letter-spacing: -1px;
    color: black;
    opacity: 1;
    transform: translateY(20px);
    margin: 0;
    line-height: 60px;
    font-size: 30px !important;
    border-bottom: 1px solid #eee;
}

.container.query {
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.text {
    background: #e8e8e8;
    margin: 50px 0;
    box-shadow: 0px 0px 104px -13px rgb(150, 150, 150);
    /* border: solid 1px #000; */
    padding: 0 15px;
    text-align: center;
    border-radius: 3px;
}
.sql {
    background: #dadada;
    margin: 0 auto;
    box-shadow: 0px 0px 104px -13px rgb(150, 150, 150);
    padding: 0 15px;
    text-align: center;
    border-radius: 3px;
    font-family: monospace;
    width: 70%;
    font-size: 20px;
}
p {
    font-family: monospace;
    font-size: 20px;
    line-height: 40px;
    /*white-space: pre-line;*/
    text-align: left;
    margin: 0;
    padding: 0;
}
.table{
    margin: 50px auto;
    width: 100%;
    box-shadow: 0px 0px 104px -13px rgb(150, 150, 150);
    padding: 20px;
    background: #e8e8e8;
}
thead {
    font-size: 23px;
    align-items: center;
}
thead tr {
    line-height: 40px;
}
tbody {
    margin: 30px 0;
}
tbody tr {
    line-height: 30px;
    text-align: center;
}

form {
    position: relative;
    width: 100%;
    font-size: 40px;
}
.group {
    margin: 0 auto;
    position: relative;
    width: 90%;
}
input {
    width: 150px;
}
input.short{
    width: 30px !important;
}

input.middle{
    width: 50px !important;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;

}