{% load render_table from django_tables2 %}
{% include 'core/header.html' %}

<div class="container query">
        <div class="text">
            <h3>{{ text }}</h3>
        </div>
        <div class="sql">
            <form action="/4/" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="group">
                    <p>
                        payments = Payment.objects.all() <br>
                        .filter(time_of_payment__gte=datetime.date.today() - datetime.timedelta(days=30)) <br>
                        .filter(order__customer__username=<input type="text" name="username" value="{{ username }}">) <br>
                        .order_by('time_of_payment') <br>
                        result = [] <br>
                        for p in payments: <br>
                        &#8195;&#8195;result.append({'id': p.id, 'order': p.order_id, \
                        &#8195;&#8195;'time': p.time_of_payment, 'price': p.price}) <br>
                    </p>
                </div>
                <div class="form-group">
                    <button id="apply">Apply</button>
                </div>
            </form>
        </div>
        <div class="container">
            {% render_table result %}
        </div>
        <table>
            <thead class="thead">
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
            <tr class="tr">
                <td>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>