{% load render_table from django_tables2 %}
{% include 'core/header.html' %}

<div class="container query">
        <div class="text">
            <h3>{{ text }}</h3>
        </div>
        <div class="sql">
            <form action="/3/" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="group">
                    <p>
                        orders = Order.objects.all().<br>
                        filter(time_begin__gte=datetime.date.today() -<br>
                        datetime.timedelta(days=7))<br>
                        for i in range(<input class="short" min="1" max ="24" type="number" name="morning_from" value="{{ morning_from }}">,
                        <input class="short" min="1" max ="24" type="number" name="morning_to" value="{{ morning_to }}">+1):<br>
                            &#8195;&#8195;morning = orders.filter(time_begin__hour=i) <br>
                        for i in range(<input class="short" min="1" max ="24" type="number" name="afternoon_from" value="{{ afternoon_from }}">,
                        <input class="short" min="1" max ="24" type="number" name="afternoon_to" value="{{ afternoon_to }}">+1):<br>
                            &#8195;&#8195;aftenoon = orders.filter(time_begin__hour=i) <br>
                        for i in range(<input class="short" min="1" max ="24" type="number" name="evening_from" value="{{ evening_from }}">,
                        <input class="short" min="1" max ="24" type="number" name="evening_to" value="{{ evening_to }}">+1):<br>
                            &#8195;&#8195;evening = orders.filter(time_begin__hour=i)
                        amount_cars = Car.objects.all().count()
                        result = []
                        result.append({'percent': (morning.count()/amount_cars)*100})
                        result.append({'percent': (afternoon.count()/amount_cars)*100})
                        result.append({'percent': (evening.count()/amount_cars)*100})
                    </p>
                </div>
                <div class="form-group">
                    <button id="apply">Apply</button>
                </div>
            </form>
        </div>
        <div class="container">
            {% render_table result %}
        </div>
        <table>
            <thead class="thead">
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
            <tr class="tr">
                <td>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>