{% load render_table from django_tables2 %}
{% include 'core/header.html' %}

<div class="container query">
        <div class="text">
            <h3>{{ text }}</h3>
        </div>
        <div class="sql">
            <form action="/5/" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="group">
                    <p>
                        orders = Order.objects.all() <br>
                        .filter(time_begin__day='(<input class="middle" type="number" max="2018" name="year" value="{{ year }}">-
                        <input class="short" type="number" min="1" max="12" name="month" value="{{ month }}">-
                        <input class="short" type="number" min="1" max="31" name="day" value="{{ day }}">').day <br>
                        distance = 0 <br>
                        duration = 0 <br>
                        for e in orders: <br>
                        &#8195;&#8195;first = GeoIP2.geos(e.location_car) <br>
                        &#8195;&#8195;second = GeoIP2.geos(e.location_end) <br>
                        &#8195;&#8195;distance += first.distance(second) <br>
                        &#8195;&#8195;duration += e.time_end-e.time_begin <br>
                        n = orders.count() <br>
                        avg_distance = distance/n <br>
                        avg_duration = duration/n
                    </p>
                </div>
                <div class="form-group">
                    <button id="apply">Apply</button>
                </div>
            </form>
        </div>
        <div class="container">
            {% render_table result %}
        </div>
        <table>
            <thead class="thead">
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
            <tr class="tr">
                <td>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>