{% load render_table from django_tables2 %}
{% include 'core/header.html' %}

<div class="container query">
        <div class="text">
            <h3>{{ text }}</h3>
        </div>
        <div class="sql">
            <form action="/5/" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="group">
                    <p>
                        Charge.objects.all() <br>
                        orders = Order.objects.all().filter(time_begin__day=<input type="text" name="date" value="{{ d }}">.day)
                        distance = 0
                        duration = 0
                        for e in orders:
                            first = GeoIP2.geos(e.location_car)
                            second = GeoIP2.geos(e.location_end)
                            distance += first.distance(second)
                            duration += e.time_end-e.time_begin
                        n = orders.count()
                        return [distance/n, duration/n]
                    </p>
                </div>
                <div class="form-group">
                    <button id="apply">Apply</button>
                </div>
            </form>
        </div>
        <div class="container">
{#            {% render_table result %}#}
        </div>
        <table>
            <thead class="thead">
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tbody">
            <tr class="tr">
                <td>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>